.Vendedor {
    display: flex;
    border: black 3px solid;
    padding: 15px;
    justify-content: space-between;
    align-items: center;

}

.Comprar {
    background-color: greenyellow;
    font-size: larger;
    border-radius: 3px;
    font-size: larger;
    transition: 0.5s;
}

.Comprar:hover {
    cursor: pointer;
    animation: brillo 3s infinite linear;
    font-weight: bold;
    transform: scale(1.05);
}