header {
    background: #a538ff;
    background: linear-gradient(0deg, rgba(165, 56, 255, 1) 0%, rgba(252, 70, 107, 1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .sesion {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.sesion button {
    background-color: skyblue;
    font-size: xx-large;
    border-radius: 3px;
}

.sesion button:hover {
    background-color: transparent;
    cursor: pointer;
}

.contenedor-grid {
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';

    gap: 10px;
}

header {
    grid-area: header;
    top: 0px;
    left: 0px;
    padding: 1em;
}

footer {
    background-color: #a538ff;
    grid-area: footer;
    left: 0;
    bottom: 0;
    padding: 1em;
}

body {
    background-color: rgb(255, 194, 235);
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;

}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}