<app-sidebar [abierto]="sidebarAbierto"
  (cerrarSidebar)="sidebarAbierto = $event"></app-sidebar>
<app-navbar [sidebarAbierto]="sidebarAbierto"
  (toggleSidebar)="abrirSide()"></app-navbar>

<div class="contenedor-principal">
  <div class="vista-principal">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>

<div class="fab-container" (click)="abrirModal()">
  <button class="fab" aria-label="Añadir oferta">
    +
  </button>
  <span class="fab-text">crear oferta</span>
</div>

<div *ngIf="modalAbierto" class="modal" (click)="cerrarModal()">
  <div class="modal-contenido" (click)="$event.stopPropagation()">
    <crear-oferta 
      *ngIf="modalAbierto" 
      [inventarioId]="inventarioId" 
      (cerrarModal)="cerrarModal()">
    </crear-oferta>
  </div>
</div>