<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="login.component.css">
</head>

<body>
    <div class="login">
        <div class="login-pantalla">
            <div class="volver">
                <a (click)="navigateTo('')">&#8592; Volver</a>
            </div>
            <div class="titulo">
                <h1>Bienvenido</h1>
            </div>
            <div class="form">
                <div class="input-group">
                    <input type="text" class="login-field" value="" placeholder="usuario" id="usuario">
                    <label class="login-usuario" for="usuario"></label>
                </div>

                <div class="input-group">
                    <input type="password" class="login-field" value="" placeholder="contraseña" id="contraseña">
                    <label class="login-contraseña" for="contraseña"></label>
                </div>
                <div class="input-group">
                    <input type="password" class="login-field" value="" placeholder="confirmar contraseña"
                        id="contraseña">
                    <label class="login-contraseña" for="contraseña"></label>
                </div>
                <div class="input-group">
                    <p class="terms">
                        <label class="login-contraseña" for="acepto">Acepto los terminos</label>
                        <input class="login-field" type="checkbox" name="acepto" id="acepto">
                    </p>

                </div>

                <a class="btn" href="#">Registrarse</a>
            </div>
        </div>
    </div>
</body>

</html>