<div class="login">
    <div class="login-pantalla">
        <div class="volver">
            <a [routerLink]="['/inicio']">&#8592; Volver</a>
        </div>
        <div class="titulo">
            <h1>Iniciar Sesión</h1>
        </div>

        <form class="form" (ngSubmit)="login()" #loginForm="ngForm">
            <div class="input-group">
                <input
                    name="email"
                    type="email"
                    class="login-field"
                    placeholder="Email"
                    required
                    [(ngModel)]="email"
                />
            </div>

            <div class="input-group">
                <input
                    name="passwd"
                    type="password"
                    class="login-field"
                    placeholder="Contraseña"
                    required
                    [(ngModel)]="passwd"
                />
            </div>

            <button class="btn" type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</button>
            <a class="login-link" [routerLink]="['/signIn']">¿No tienes cuenta? Regístrate aquí</a>
        </form>
    </div>
</div>
