.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1e1422;
    padding: 1rem;
    z-index: 1002;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
}
.nav-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: 1rem;
}
.side-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: rgb(39, 39, 39);
    z-index: 1003;
    padding: 0.25rem;
}

button.side-btn:hover {
    color: #555;
}

.nav-center{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-right {
    display: flex;
    gap: 0.75rem;
    margin-right: 5rem;

}
.nav-btn {
    background-color: #555;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    
    cursor: pointer;
    border-radius: 4px;
}
.nav-btn:hover {
    background-color: #777;
}

.logout-btn {
    background-color: #db34a9;
}

.logout-btn:hover {
    background-color: #c02395;
}

.profile-btn {
    background-color: #2a8f9d;
}

.profile-btn:hover {
    background-color: #1f6a78;
}


/* From Uiverse.io by JkHuger */ 
.toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-slot {
  font-size: 10px;
  position: relative;
  height: 3.5em;
  width: 7em;
  border: 0px solid transparent;
  border-radius: 10em;
  background-color: white;
  transition: background-color 250ms;
}

.toggle-checkbox:checked ~ .toggle-slot {
  background-color: #374151;
}

.toggle-button {
  transform: translate(0.3em, 0.25em);
  position: absolute;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  background-color: #ffeccf;
  box-shadow: inset 0px 0px 0px 0.75em #ffbb52;
  transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
  background-color: #485367;
  box-shadow: inset 0px 0px 0px 0.75em white;
  transform: translate(3.65em, 0.25em);
}

.sun-icon {
  position: absolute;
  height: 6em;
  width: 6em;
  color: #ffbb52;
}

.sun-icon-wrapper {
  position: absolute;
  height: 6em;
  width: 6em;
  opacity: 1;
  transform: translate(2em, 2em) rotate(15deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
  opacity: 0;
  transform: translate(3em, 2em) rotate(0deg);
}

.moon-icon {
  position: absolute;
  height: 6em;
  width: 6em;
  color: white;
}

.moon-icon-wrapper {
  position: absolute;
  height: 6em;
  width: 6em;
  opacity: 0;
  transform: translate(11em, 2em) rotate(0deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(.26,2.5,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
  opacity: 1;
  transform: translate(2em, 2em) rotate(-15deg);
}