.listado {
    padding: 1rem;
}

.carta {
    padding: 2rem;
    border:1px solid;
    border-bottom-width: 0;
    border-right-width: 0;
    background-color: lightsteelblue;
}

.listado .carta:last-child {
    border-bottom-width: 1px;
}
