<div class="contenedor-grid">
  <div class="listado">
    @for (carta of listadoCartas$ | async; track carta.cardid) {
    <div class="carta">
      <a [routerLink]="['/carta']" [queryParams]="{ id: carta.cardid}">
        <div class="imagen"><img [src]="'http://localhost:8080/imagenes/' + carta.imagen.nombre" />
        </div>
      </a>

      <div class="texto">
        <div class="text">
          <a [routerLink]="['/carta']" [queryParams]="{ id: carta.cardid}">
            <h1>{{ carta.nombrecard }}</h1>
          </a>

        </div>
        <div class="text">
          <h2>{{ carta.descripcion }}</h2>
        </div>
        <div>

        </div>
      </div>
    </div>
    }
    @empty{
    <div class="vacio">
      <h1>No hay cartas de esta marca</h1>
    </div>
    }
  </div>

</div>