    <header>
    </header>
<body>
    <div class="informacion-usuario">
        <div class="imagen-usuario"><img src="images/ace_of_spades.png"
                alt="Usuario"></div>
        <div class="no-imagen">
            <div class="nombre-usuario">Nombre Usuario</div>
            <div class="descripcion-usuario">
                <div>Esta sería la descripcion del usuario</div>
            </div>
            <div class="reputacion">Reputación: <b>50</b></div>
            <div class="cambiarModo">
                <div><button (click)="mostrarInventario()">Mercancía</button></div>
                <div><button (click)="mostrarDeseados()">Deseados</button></div>
            </div>
        </div>
    </div>
        <app-lista-inventario [hidden]="vistaActual !== 'inventario'"></app-lista-inventario>
        <app-lista-deseados [hidden]="vistaActual !== 'deseados'"></app-lista-deseados>
    <footer>
        <div class="redes-sociales">
            <p>Facebook</p>
            <p>Instagram</p>
            <p>Youtube</p>
        </div>
        <div class="contact">Contáctanos</div>
    </footer>
</body>
