<h1>Inserción de carta</h1>

<form (ngSubmit)="guardarCarta()">

  <h2>
    Nombre de carta:
    <input type="text" [(ngModel)]="carta.nombreCard" name="nombreCard" required>
  </h2>

  <h2>
    Descripción:
    <input type="text" [(ngModel)]="carta.descripcion" name="descripcion" required>
  </h2>

  <h2>
    Colección:
    <input type="text" [(ngModel)]="carta.coleccion" name="coleccion" required>
  </h2>

  <h2>
    Empresa:
    <select [(ngModel)]="carta.empresa" name="empresa">
      <option *ngFor="let empresa of listadoEmpresas$ | async" [value]="empresa">
        {{ empresa }}
      </option>
    </select>
  </h2>

  <h1>Imagen</h1>

  <h2>
    Nombre imagen:
    <input type="text" [(ngModel)]="nombreImagen" name="nombreImagen">
  </h2>

  <h2>
    Subir imagen:
    <input type="file" (change)="onFileSelected($event)" accept="image/*">
  </h2>

  <div *ngIf="preview">
    <p>Preview:</p>
    <img [src]="preview" width="200">
  </div>

  <br>
  <button type="submit">Guardar carta</button>

</form>