<h1>Inserción de carta</h1>

<h2>Nombre de carta: <input type="text" name="nombrecard" required></h2>
<h2>Descripción de carta: <input type="text" name="descripcion" required></h2>
<h2>Colección: <input type="text" name="nombrecard" required></h2>

<h1>Imagen</h1>
<h2>Nombre: <input type="text" name="nombreimg"></h2>
<h2>Inserte la imagen: <input type="file" name="imagenSubir" accept="image/*"></h2>
<!-- <p>Preview: </p>
<img id="preview"> -->

<p><select name="empresa" id="empresa">
    @for (empresa of listadoEmpresas$ | async; track $index) {
    <option [value]="empresa">{{ empresa }}</option>
    }
  </select></p>

<script>
  document.getElementById('imagenSubir').addEventListener('change', function () {
    let file = this.files[0];
    let reader = new FileReader();

    reader.onload = function (event) {
      let base64String = event.target.result;
      //document.getElementById('preview').src = base64String;
      //document.getElementById('preview').style.display = 'block';
      console.log(base64String);
    };

    reader.readAsDataURL(file);
  });
</script>