    <div class="mercancia">
        <div class="cartavendiendo">
            <img src="images/ace_of_spades.png" alt="mercancia1"
                class="imagenMercancia">
            <div><b>Nombre de carta</b></div>
            <div><b>Definición de carta</b></div>
            <div><b>Precio</b></div>
        </div>
        <div class="cartavendiendo">
            <img src="images/ace_of_spades.png" alt="mercancia1"
                class="imagenMercancia">
            <div><b>Nombre de carta</b></div>
            <div><b>Definición de carta</b></div>
            <div><b>Precio</b></div>
        </div>
        <div class="cartavendiendo">
            <img src="images/ace_of_spades.png" alt="mercancia1"
                class="imagenMercancia">
            <div><b>Nombre de carta</b></div>
            <div><b>Definición de carta</b></div>
            <div><b>Precio</b></div>
        </div>
        <div class="cartavendiendo">
            <img src="images/ace_of_spades.png" alt="mercancia1"
                class="imagenMercancia">
            <div><b>Nombre de carta</b></div>
            <div><b>Definición de carta</b></div>
            <div><b>Precio</b></div>
        </div>
    </div>