.mercancia {
    border: black 5px solid;
    padding: 10px;
}

.imagenMercancia {
    height: 100px;
}

.cartavendiendo {
    display: flex;
    border: black 3px solid;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
}