<div class="contenedor-grid">
    <div class="main">
        <h1>Mulligan</h1>
        <div class="search-wrapper">
            <input type="text" name="buscar" class="buscar" [(ngModel)]="busqueda" (input)="buscarCartas()"
                (focus)="mostrar = true" (blur)="ocultar()" placeholder="Buscar carta...">
            <div class="dropdown" *ngIf="mostrar && resultados.length > 0">
                <div class="item" *ngFor="let carta of resultados" (click)="seleccionar(carta.nombrecard)">
                    <a [routerLink]="['/carta']" [queryParams]="{id: carta.cardid}">{{ carta.nombrecard }}</a>
                </div>
            </div>
        </div>
        <div class="marcas">
            <div class="marca"><a [routerLink]="['/marca']" [queryParams]="{ nombre: 'YUGIOH'}"><img
                        [src]="'/api/imagenes/' + 'logoYugioh'" alt="Yu-Gi-Oh"></a></div>
            <div class="marca"><a [routerLink]="['/marca']" [queryParams]="{ nombre: 'MAGIC'}"><img
                        [src]="'/api/imagenes/' + 'logoMagic'" alt="Magic: The Gathering"></a></div>
            <div class="marca"><a [routerLink]="['/marca']" [queryParams]="{ nombre: 'POKEMON'}"><img
                        [src]="'/api/imagenes/' + 'logoPokTCG'"
                        alt="Pokémon: The Trading Card Game"></a></div>
            <div class="marca"><a [routerLink]="['/marca']" [queryParams]="{ nombre: 'Invizimals'}"><img
                        [src]="'/api/imagenes/' + 'logoInvizimals'" alt="INVIZIMALS"></a></div>
            <div class="marca"><a [routerLink]="['/marca']" [queryParams]="{ nombre: 'MARVELC'}"><img
                        [src]="'/api/imagenes/' + 'logoMarvelC'" alt="Marvel Champions"></a></div>
            <div class="marca"><a [routerLink]="['/marca']" [queryParams]="{ nombre: 'LORCANA'}"><img
                        [src]="'/api/imagenes/' + 'logoLorcana'"></a></div>
        </div>
    </div>

</div>