<div class="contenedor-grid">
    <div class="main">
        <h1>Mulligan</h1>
        <div class="search-wrapper">
            <input type="text" name="buscar" class="buscar" [(ngModel)]="busqueda" (input)="buscarCartas()"
                (focus)="mostrar = true" (blur)="ocultar()" placeholder="Buscar carta...">
            <div class="dropdown" *ngIf="mostrar && resultados.length > 0">
                <div class="item" *ngFor="let carta of resultados" (click)="seleccionar(carta.nombrecard)">
                    <a [routerLink]="['/carta']" [queryParams]="{id: carta.cardid}">{{ carta.nombrecard }}</a>
                </div>
            </div>
        </div>
        <div class="marcas">
            <a [routerLink]="['/marca']" [queryParams]="{ nombre: 'YUGIOH'}">
                <div class="marca"><img [src]="'/api/imagenes/' + 'logoYugioh'" alt="Yu-Gi-Oh"></div>
            </a>
            <a [routerLink]="['/marca']" [queryParams]="{ nombre: 'MAGIC'}">
                <div class="marca"><img [src]="'/api/imagenes/' + 'logoMagic'" alt="Magic: The Gathering"></div>
            </a>
            <a [routerLink]="['/marca']" [queryParams]="{ nombre: 'POKEMON'}">
                <div class="marca"><img [src]="'/api/imagenes/' + 'logoPokTCG'" alt="Pokémon: The Trading Card Game">
                </div>
            </a>
            <a [routerLink]="['/marca']" [queryParams]="{ nombre: 'Invizimals'}">
                <div class="marca"><img [src]="'/api/imagenes/' + 'logoInvizimals'" alt="INVIZIMALS"></div>
            </a>
            <a [routerLink]="['/marca']" [queryParams]="{ nombre: 'MARVELC'}">
                <div class="marca"><img [src]="'/api/imagenes/' + 'logoMarvelC'" alt="Marvel Champions"></div>
            </a>
            <a [routerLink]="['/marca']" [queryParams]="{ nombre: 'LORCANA'}">
                <div class="marca"><img [src]="'/api/imagenes/' + 'logoLorcana'"></div>
            </a>
        </div>
    </div>

</div>